body {
    margin: 0;
    font-family: 'Roboto';
}
.banner {
    display: flex;
    justify-content: space-between;
}

.top-half{
    background: #1F2937;
    padding-right:80px;
    padding-left: 200px;
}

.link{
    display: flex;
    gap: 16px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
.logo {
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

.sky-frame {
    margin-top: 200px;
    width: 700px;
    height: 200px;
    margin-left:10px ;
}
.sky {
    width: 100%;
    height: 100%;
} 
.content{
    display: flex;
    height: 500px;
}


.subtext {
    color: #e5e7eb;
}

.text-within-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;   
}


.big-title {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 30px;
 }

.sign-up{
    padding-top: 10px;
}

button {
    background: #3882f6;
    color: white;
    border-radius: 5px;
    border: solid #3882f6;
    padding-right: 15px;
    padding-left: 15px;
}


.container-for-rando-image-and-text{
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    gap: 32px;
    margin-top: 30px ;
    text-align: center;
    color: grey;
    }

.night {
    height: 100px;
    width: 100px; 
    border: solid  #3882f6;
    border-radius: 20px;
}


.title-for-random-info {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 32px;
}

.rando-info-section {
    margin-top: 25px;
}

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(214, 211, 211);
}

.quote{
    width: 500px;
}

.quote-message {
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.said-by {
    display: flex;
    justify-content: end;
    color: #1F2937;
    font-weight: 450;
    font-size:small;
}

.sign-up-2{
    display: flex;
}