.banner {
    display: flex;
    justify-content: space-between;
}

.top-half{
    background: #1F2937;

}

.link{
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
.logo {
    color: #F9FAF8;
}